<a href="https://colab.research.google.com/github/sMathujan/Analytics/blob/main/Python_for_Data_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Basics

### 1 - Syntax and Semantics in Python

In [ ]:
## Python is case sensitive

name = "Mathujan"
Name = "Sivananthan"

print(name)
print(Name)

Mathujan
Sivananthan

In [ ]:
## Python uses indentation to define blocks of code. Consistent use of spaces (commonly 4) or a tab is required.

age=32
if age>30:
    print(age)

print(age)

32
32

In [ ]:
## This is a single line comment

print("Hello World")

Hello World

In [ ]:
## Line Continuation
## Use a backslash (\) to continue a statement to the next line

total = 1+2+3+4+5+6+7+\
4+5+6

print(total)

43

In [ ]:
## Multiple Statements on a single line

x=5;y=10;z=x+y
print(z)

15

In [ ]:
## Understand  Semnatics in Python

# Variable assignment
age = 32 ##age is an integer
name = "Mathujan" ##name is a string

In [ ]:
type(age)

int

In [ ]:
type(name)

str

In [ ]:
## Type Inference

variable = 10
print(type(variable))

variable = "Mathujan"
print(type(variable))

<class 'int'>
<class 'str'>

### 2 - Variables

In [ ]:
# Invalid variable names

# 2age = 10
# first-name = "Mathujan"
# @name = "Mathujan"

In [ ]:
## Python is dynamically typed, type of a variable is determined at runtime

age='25'
print(type(age))
print(type(int(age)))

<class 'str'>
<class 'int'>

In [ ]:
name = "Mathujan"
int(name)

ValueError: invalid literal for int() with base 10: 'Mathujan'

In [ ]:
height = 6.2
type(height)

float

In [ ]:
float(int(height))

6.0

In [ ]:
## Python allows the type of a vraible to change as the program executes

var = 10
print(var, type(var))

var = "Hello"
print(var, type(var))

var = 3.14
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [ ]:
## Input

age = int(input("What is your age?"))
print(age, type(age))

23 <class 'int'>

### 3 - Data Types

In [ ]:
## Integer
age = 12
type(age)

int

In [ ]:
## Floating point

height = 5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [ ]:
## String

name = "Mathujan"
print(name)
print(type(name))

Mathujan
<class 'str'>

In [ ]:
## Boolean

is_true = True
type(is_true)

bool

In [ ]:
a = 10
b = 10

type(a==b)

bool

In [ ]:
result = "Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
result = "Hello" + str(5)
print(result)

Hello5

### 4 - Operators

In [ ]:
## Arithmethic Operation

a = 10
b = 5

add_result = a+b  #addition
sub_result = a-b  #substraction
mult_result = a*b #multiplication
div_result = a/b  #division
floor_div_result = a//b #floor division
modulus_result = a%b #modulus operation
exponent_result = a**b #exponentiation


print("add_result: ",add_result)
print("sub_result: ",sub_result)
print("mult_result: ",mult_result)
print("div_result: ",div_result)
print("floor_div_result: ",floor_div_result)
print("modulus_result: ",modulus_result)
print("exponent_result: ",exponent_result)

add_result:  15
sub_result:  5
mult_result:  50
div_result:  2.0
floor_div_result:  2
modulus_result:  0
exponent_result:  100000

In [ ]:
## Comparison Operators

## == Equal to
a = 10
b = 10

a == b

True

In [ ]:
str1 = "Mathujan"
str2 = "Mathujan"

str1 == str2

True

In [ ]:
## != Not Equal to
str1 != str2

False

In [ ]:
str3 = "Mathujan"
str4 = "mathujan"

str3 != str4

True

In [ ]:
## greater than >

num1 = 45
num2 = 55

num1 > num2

False

In [ ]:
## less than <

num1 < num2

True

In [ ]:
## greater than or equal to

number1 = 45
number2 = 45

print(number1 >= number2)

True

In [ ]:
## less than or equal to

number1 = 44
number2 = 45

print(number1 <= number2)

True

In [ ]:
## Logical Operators

## And , Not, OR
X = True
Y = True

result = X and Y
print(result)

True

In [ ]:
X = False
Y = True

result = X and Y
print(result)

False

In [ ]:
## OR
X = False
Y = False

result = X or Y
print(result)

False

In [ ]:
# Not operator
X = False
not X

True

## Control Flows

### 5 - Conditional Statements (if, elif, else)

In [ ]:
## if statement

age = 20

if age >= 18:
    print("You are allowed to vote in the elections")

You are allowed to vote in the elections

In [ ]:
age >= 18

True

In [ ]:
## else
## The else statement executes a block of code if the condition in the if statement is False.

age = 16

if age >= 18:
    print("You are eligible for voting")
else:
    print("You are a minor")

You are a minor

In [ ]:
## elif
## The elif statement allows you to check multiple conditions. It stands for "else if"

age = 17

if age < 13:
    print("You are a child")
elif age < 18:
    print("You are a teenager")
else:
    print("You are an adult")

You are a teenager

In [ ]:
## Nested Conditional Statements

## You can place one or more if, elif, or else statements inside another if, elif, or else statement to create nested conditional statements.

## number is even, odd, negative

num = int(input("Enter the number"))

if num > 0:
    print("The number is positive")
    if num%2 == 0:
        print("The number is even")
    else:
        print("The number is odd")

else:
    print("The number is zero or negative")

The number is zero or negative

In [ ]:
## Determine if a year is a leap year using nested condition statement

year = int(input("Enter the year"))

if year%4 == 0:
    if year%100 == 0:
        if year%400 == 0:
            print(year,"is a leap year")
        else:
            print(year,"is not a leap year")
    else:
        print(year,"is a leap year")

else:
    print(year,"is not a leap year")

2000 is a leap year

### 6 - Loops

In [ ]:
"""for Loop
   - Iterating over a range
   - Iterating over a string"""

for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [ ]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [ ]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [ ]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [ ]:
## Strings

str = "Mathujan"

for i in str:
    print(i)

M
a
t
h
u
j
a
n

In [ ]:
## while loop
## The while loop continues to execute as long as the condition is True.

count = 0

while count < 5:
    print(count)
    count = count + 1

0
1
2
3
4

In [ ]:
## Loop Control Statements

## break
## The break statement exits the loop permaturely

## break statement

for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [ ]:
## continue

## The continue statement skips the current iteration and continues with the next.

for i in range(10):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

In [ ]:
## pass
## The pass statement is a null operation; it does nothing.

for i in range(5):
    if i == 3:
        pass
    print(i)

0
1
2
3
4

In [ ]:
## Nested loopss
## a loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

## Data Structures

### 7 - Lists

In [ ]:
## - Lists are ordered, mutable collections of items.
## - They can contain items of different data types.

In [ ]:
lst = []
print(type(lst))

<class 'list'>

In [ ]:
names = ["Mathujan", "Sivananthan", "Jacob"]
print(names)

['Mathujan', 'Sivananthan', 'Jacob']

In [ ]:
mixed_list = [1, "Hello", 3.14, True]
print(mixed_list)

[1, 'Hello', 3.14, True]

In [ ]:
## Accessing List Elements

fruits = ["apple", "banana", "cherry", "kiwi", "gauva"]

print(fruits[0])
print(fruits[2])
print(fruits[4])
print(fruits[-1])

apple
cherry
gauva
gauva

In [ ]:
print(fruits[1:])
print(fruits[1:3])

['banana', 'cherry', 'kiwi', 'gauva']
['banana', 'cherry']

In [ ]:
## Modifying the List elements

fruits

['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [ ]:
fruits[1] = "watermelon"
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [ ]:
fruits[1:] = "watermelon"
fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "gauva"]

In [ ]:
## List Methods

fruits.append("orange") ## Add an item to the end
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [ ]:
fruits.insert(1, "watermelon")
print(fruits)

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [ ]:
fruits.insert(2, "banana")
print(fruits)

['apple', 'watermelon', 'banana', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [ ]:
fruits.remove("banana") ## Removing the first occurance of an item
print(fruits)

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [ ]:
## Remove and return the last element
popped_fruits = fruits.pop()
print(popped_fruits)
print(fruits)

orange
['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva']

In [ ]:
index = fruits.index("cherry")
print(index)

3

In [ ]:
fruits.insert(2,"banana")
print(fruits.count("banana"))

2

In [ ]:
fruits

['apple', 'watermelon', 'banana', 'banana', 'cherry', 'kiwi', 'gauva']

In [ ]:
fruits.sort() ## Sorts the list in ascending order

In [ ]:
fruits

['apple', 'banana', 'banana', 'cherry', 'gauva', 'kiwi', 'watermelon']

In [ ]:
fruits.reverse() ## Reverse the list

In [ ]:
fruits

['watermelon', 'kiwi', 'gauva', 'cherry', 'banana', 'banana', 'apple']

In [ ]:
fruits.clear() ## Remove all items from the list

print(fruits)

[]

In [ ]:
## Slicing List

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
numbers[::3]

[1, 4, 7, 10]

In [ ]:
numbers[::-2]

[10, 8, 6, 4, 2]

In [ ]:
## Iterating Over List

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [ ]:
## Iterating with index
for index, number in enumerate(numbers):
    print(index, number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [ ]:
## List comprehension

lst = []
for x in range(10):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
## Basic List Comprehension

sqaure = [num**2 for num in range(10)]
print(sqaure)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
## List Comprehension with Condition

lst = []
for i in range(10):
    if i%2 == 0:
        lst.append(i)

print(lst)

[0, 2, 4, 6, 8]

In [ ]:
even_numbers = [num for num in range(10) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [ ]:
## Nested List Comphrension

lst1 = [1, 2, 3, 4]
lst2 = ['a', 'b', 'c', 'd']

pair = [[i, j] for i in lst1 for j in lst2]

print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [ ]:
## List Comprehension with function calls

words = ["hello", "world", "python", "list", "comprehension"]
lengths = [len(word) for word in words]
print(lengths)  # Output: [5, 5, 6, 4, 13]

[5, 5, 6, 4, 13]

### 8 - Tuples

In [ ]:
## - Tuples are ordered collections of items that are immutable.
## - They are similar to lists, but their immutability makes them different.

In [ ]:
## Creating a tuple

empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [ ]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [ ]:
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [ ]:
mixed_tuple = (1, "Hello World", 3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [ ]:
## Accessing Tuple Elements

numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
print(numbers[2])
print(numbers[-1])

3
6

In [ ]:
numbers[0:4]

(1, 2, 3, 4)

In [ ]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [ ]:
## Tuple Operations

concatenation_tuple = numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [ ]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [ ]:
## Immutable Nature Of Tuples

## Tuples are immutable, meaning their elements cannot be changed once assigned.

numbers[1] = "Mathujan"

TypeError: 'tuple' object does not support item assignment

In [ ]:
numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
## Tuple Methods

print(numbers.count(1))
print(numbers.index(3))

1
2

In [ ]:
## Packing and Unpacking tuple

## packing
packed_tuple = 1, "Hello", 3.14
print(packed_tuple)
print(type(packed_tuple))

(1, 'Hello', 3.14)
<class 'tuple'>

In [ ]:
## unpacking a tuple

a, b, c = packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [ ]:
## Unpacking with *

numbers = (1, 2, 3, 4, 5, 6)
first, *middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [ ]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [ ]:
## Iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=" ")
    print()

1 2 3
a b c
True False

### 9 - Sets

In [ ]:
""""
Sets are a built-in data type in Python used to store collections of unique items.
They are unordered, meaning that the elements do not follow a specific order,
and they do not allow duplicate elements. Sets are useful for membership tests,
eliminating duplicate entries, and performing mathematical set operations
like union, intersection, difference, and symmetric difference.
"""

'"\nSets are a built-in data type in Python used to store collections of unique items. \nThey are unordered, meaning that the elements do not follow a specific order, \nand they do not allow duplicate elements. Sets are useful for membership tests, \neliminating duplicate entries, and performing mathematical set operations \nlike union, intersection, difference, and symmetric difference.\n'

In [ ]:
## Create a set

my_set = {1, 2, 3, 4, 5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
my_empty_set = set()
print(type(my_empty_set))

<class 'set'>

In [ ]:
my_set = set([1, 2, 3, 4, 5, 6])
print(my_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
## Basics Sets Operation

## Adding and Removing Elements

my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
## Remove the elements from a set

my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [ ]:
my_set.remove(10)

KeyError: 10

In [ ]:
my_set.discard(11)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [ ]:
## pop method

removed_element = my_set.pop()
print(removed_element)
print(my_set)

1
{2, 4, 5, 6, 7}

In [ ]:
## clear all the elements

my_set.clear()
print(my_set)

set()

In [ ]:
## Set Memebership test

my_set={1, 2, 3, 4, 5}
print(3 in my_set)
print(10 in my_set)

True
False

In [ ]:
## Mathematical Operation

set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}

## Union
union_set = set1.union(set2)
print(union_set)

## Intersection
intersection_set = set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [ ]:
set1 = {1, 2, 3, 4, 5, 6}
set2={4, 5, 6, 7, 8, 9}

## Difference
print(set1.difference(set2))

{1, 2, 3}

In [ ]:
set2.difference(set1)

{7, 8, 9}

In [ ]:
## Symmetric Difference
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [ ]:
## Sets Methods
set1={1, 2, 3, 4, 5}
set2={3, 4, 5}

## is subset
print(set1.issubset(set2))

print(set1.issuperset(set2))

False
True

In [ ]:
## Counting Unique words in text

text = "In this tutorial we are discussing about sets"
words = text.split()

## convert list of words to set to get unique words

unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'we', 'this', 'are', 'about', 'sets', 'discussing', 'In', 'tutorial'}
8

### 10 - Dictionaries

In [ ]:
"""
Dictionaries are unordered collections of items.
They store data in key-value pairs.
Keys must be unique and immutable (e.g., strings, numbers, or tuples),
while values can be of any type.
"""

'\nDictionaries are unordered collections of items. \nThey store data in key-value pairs.\nKeys must be unique and immutable (e.g., strings, numbers, or tuples), \nwhile values can be of any type.\n'

In [ ]:
## Creating Dictionaries

empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [ ]:
empty_dict = dict()
empty_dict

{}

In [ ]:
student = {"name": "Mathujan", "age": 12, "grade": 100}
print(student)
print(type(student))

{'name': 'Mathujan', 'age': 12, 'grade': 100}
<class 'dict'>

In [ ]:
# Single key is always used
student = {"name": "Mathujan", "age": 12, "name": 24}
print(student)

{'name': 24, 'age': 12}

In [ ]:
## Accessing Dictionary Elements
student={"name": "Mathujan", "age": 12, "grade": 'A'}
print(student)

{'name': 'Mathujan', 'age': 12, 'grade': 'A'}

In [ ]:
## Accessing Dictionary elements
print(student['grade'])
print(student['age'])

## Accessing using get() method
print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name', "Not Available"))

A
12
A
None
Not Available

In [ ]:
## Modifying Dicitonary Elements

## Dictionary are mutable, so you can add, update or delete elements
print(student)

{'name': 'Mathujan', 'age': 12, 'grade': 'A'}

In [ ]:
student["age"] = 14  ## update value for the key
print(student)
student["address"] = "UK" ## added a new key and value
print(student)

{'name': 'Mathujan', 'age': 14, 'grade': 'A'}
{'name': 'Mathujan', 'age': 14, 'grade': 'A', 'address': 'UK'}

In [ ]:
del student['grade'] ## delete key and value pair

print(student)

{'name': 'Mathujan', 'age': 14, 'address': 'UK'}

In [ ]:
## Dictionary methods

keys = student.keys() ## get all the keys
print(keys)
values = student.values() ## get all values
print(values)
items = student.items() ## get all key value pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Mathujan', 14, 'UK'])
dict_items([('name', 'Mathujan'), ('age', 14), ('address', 'UK')])

In [ ]:
## Shallow copy

student_copy = student
print(student)
print(student_copy)

{'name': 'Mathujan', 'age': 14, 'address': 'UK'}
{'name': 'Mathujan', 'age': 14, 'address': 'UK'}

In [ ]:
student["name"] = "Mathujan2"
print(student)
print(student_copy)

{'name': 'Mathujan2', 'age': 14, 'address': 'UK'}
{'name': 'Mathujan2', 'age': 14, 'address': 'UK'}

In [ ]:
student_copy1 = student.copy()
print(student_copy1)
print(student)

{'name': 'Mathujan2', 'age': 14, 'address': 'UK'}
{'name': 'Mathujan2', 'age': 14, 'address': 'UK'}

In [ ]:
student["name"] = "Mathujan3"
print(student_copy1)
print(student)

{'name': 'Mathujan2', 'age': 14, 'address': 'UK'}
{'name': 'Mathujan3', 'age': 14, 'address': 'UK'}

In [ ]:
## Iterating Over Dictionaries
## You can use loops to iterate over dictionatries, keys, values, or items

## Iterating over keys
for keys in student.keys():
    print(keys)

name
age
address

In [ ]:
## Iterate over values
for value in student.values():
    print(value)

Mathujan3
14
UK

In [ ]:
## Iterate over key value pairs
for key, value in student.items():
    print(f"{key}: {value}")

name: Mathujan3
age: 14
address: UK

In [ ]:
## Nested Disctionaries
students={
    "student1": {"name": "Mathujan", "age": 14},
    "student2": {"name": "Peter", "age":35}
}
print(students)

{'student1': {'name': 'Mathujan', 'age': 14}, 'student2': {'name': 'Peter', 'age': 35}}

In [ ]:
## Access nested dictionaries elements

print(students["student2"]["name"])
print(students["student2"]["age"])

Peter
35

In [ ]:
students.items()

dict_items([('student1', {'name': 'Mathujan', 'age': 14}), ('student2', {'name': 'Peter', 'age': 35})])

In [ ]:
## Iterating over nested dictionaries

for student_id, student_info in students.items():
    print(f"{student_id}: {student_info}")
    for key, value in student_info.items():
        print(f"{key}: {value}")

student1: {'name': 'Mathujan', 'age': 14}
name: Mathujan
age: 14
student2: {'name': 'Peter', 'age': 35}
name: Peter
age: 35

In [ ]:
## Dictionary Comprehension

squares = {x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
## Condition dictionary comprehension
evens = {x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [ ]:
## Merge 2 dictionaries into one

dict1 = {"a": 1, "b": 2}
dict2 = {"b": 3, "c": 4}
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

In [ ]:
## Use a dictionary to count he frequency of elements in list

numbers = [1,2,2,3,3,3,4,4,4,4]
frequency = {}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

## Functions

In [ ]:
# - A function is a block of code that performs a specific task.
#Functions help in organizing code, reusing code, and improving readability.

In [ ]:
## Syntax

def function_name(parameters):
    """Docstring"""
    # Function body
    return expression

In [ ]:
def even_or_odd(num):
    """This function finds even or odd"""
    if num%2 == 0:
        print("the number is even")
    else:
        print("the number is odd")

## Call this function
even_or_odd(24)

the number is even

In [ ]:
## Function with multiple parameters

def add(a, b):
    return a + b

result = add(2, 4)
print(result)

6

In [ ]:
## Positional arguments

def print_numbers(*args):
    for number in args:
        print(number)

print_numbers(1, 2, 3, 4, 5, 6, 7, 8, "Mathujan", "Sivanathan")

1
2
3
4
5
6
7
8
Mathujan
Sivanathan

In [ ]:
## Keywords Arguments

def print_details(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

print_details(name="Mathujan", age="12", country="UK")

name: Mathujan
age: 12
country: UK

In [ ]:
def print_details(*args, **kwargs):
    for val in args:
        print(f" Positional arument :{val}")

    for key,value in kwargs.items():
        print(f"{key}: {value}")

print_details("Mathujan", "Sivanathan", name="Mathujan", age="12", country="UK")

 Positional arument :Mathujan
 Positional arument :Sivanathan
name: Mathujan
age: 12
country: UK

In [ ]:
## Return statements
def multiply(a, b):
    return a*b

multiply(2, 3)

6

In [ ]:
## Return multiple parameters
def multiply(a, b):
    return a*b, a

multiply(2, 3)

(6, 2)

### 11 - Lambda Function

In [ ]:
## Syntax

lambda arguments: expression

In [ ]:
addition = lambda a, b : a+b
addition(5, 6)

11

In [ ]:
is_even = lambda num : num % 2 == 0
is_even(12)

True

### 12 - Map Function

In [ ]:
def square(x):
    return x * x

numbers=[1, 2, 3, 4, 5, 6, 7, 8]

list(map(square, numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
## Lambda function with map

numbers = [1, 2, 3, 4, 5, 6, 7, 8]
list(map(lambda x : x*x, numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
## Map multiple iterables

numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]

added_numbers = list(map(lambda x, y : x+y, numbers1, numbers2))
print(added_numbers)

[5, 7, 9]

In [ ]:
## map() to convert a list of strings to integers
# Use map to convert strings to integers

str_numbers = ['1', '2', '3', '4', '5']
int_numbers = list(map(int, str_numbers))

print(int_numbers)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

### 13 - Filter Function

In [ ]:
def even(num):
    if num % 2 == 0:
        return True

lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

list(filter(even, lst))

[2, 4, 6, 8, 10, 12]

In [ ]:
## Filter with a lambda function and multiple conditions

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
even_and_greater_than_five = list(filter(lambda x:x>5 and x%2==0, numbers))
print(even_and_greater_than_five)

[6, 8]

## Modules and Packages

### 14 - Importing Modules

In [ ]:
from math import sqrt, pi

print(sqrt(16))
print(sqrt(25))
print(pi)

4.0
5.0
3.141592653589793

In [ ]:
import numpy as np

np.array([1, 2, 3, 4])

array([1, 2, 3, 4])

### 15 - Standard Library

In [ ]:
## Random

import random
print(random.randint(1, 10))
print(random.choice(['apple', 'banana', 'cherry']))

7
apple

In [ ]:
## File and Directory Access

import os
print(os.getcwd())

f:\Master Data Analysis\3 - Complete Python with Important Libraries

In [ ]:
## Data Serialization

import json
data = {'name': 'Mathujan', 'age': 12}

json_str = json.dumps(data)
print(json_str)
print(type(json_str))

parsed_data = json.loads(json_str)
print(parsed_data)
print(type(parsed_data))

{"name": "Mathujan", "age": 12}
<class 'str'>
{'name': 'Mathujan', 'age': 12}
<class 'dict'>

In [ ]:
## Datetime

from datetime import datetime, timedelta

now = datetime.now()
print(now)

yesterday = now - timedelta(days=1)

print(yesterday)

2025-06-24 16:32:32.267977
2025-06-23 16:32:32.267977

## File Operation

### 16 - Read and Write Files

In [ ]:
## Read a Whole File

with open('example.txt', 'r') as file:
    content = file.read()
    print(content)

Hey There!
I am Mathujan.

In [ ]:
## Read a file line by line

with open('example.txt', 'r') as file:
    for line in file:
        print(line.strip()) # strip() removes the newline character

Hey There!
I am Mathujan.

In [ ]:
## Writing a file (Overwriting)

with open('example.txt', 'w') as file:
    file.write('Hello World!\n')
    file.write('This is a new line.')

In [ ]:
## Write a file (without Overwriting)
with open('example.txt', 'a') as file:
    file.write("Append operation taking place!\n")

In [ ]:
## Read the content from a source text fiile and write to a destination text file
## Copying a text file

with open('example.txt', 'r') as source_file:
    content = source_file.read()

with open('destination.txt', 'w') as destination_file:
    destination_file.write(content)

In [ ]:
## Read a text file and count the number of lines, words, and characters.
## Counting lines, words, and characters in a text file

def count_text_file(file_path):
    with open(file_path, 'r') as file:
        lines = file.readlines()
        line_count = len(lines)
        word_count = sum(len(line.split()) for line in lines)
        char_count = sum(len(line) for line in lines)
    return line_count, word_count, char_count

file_path = 'example.txt'
lines, words, characters = count_text_file(file_path)
print(f'Lines: {lines}, Words: {words}, Characters: {characters}')

Lines: 2, Words: 10, Characters: 63

In [ ]:
## Writing and then reading a file
"""
The w+ mode in Python is used to open a file for both reading and writing.
If the file does not exist, it will be created. If the file exists,
its content is truncated (i.e., the file is overwritten).
"""

with open('example.txt', 'w+') as file:
    file.write("Hello world\n")
    file.write("This is a new line \n")

    ## Move the file cursor to the beginning
    file.seek(0)

    ## Read the content of the file
    content = file.read()
    print(content)

Hello world
This is a new line

### 17 - Working with File Paths

In [ ]:
## Using the os module

import os
cwd = os.getcwd()
print(f"Current working directory is {cwd}")

Current working directory is f:\Master Data Analysis\3 - Complete Python with Important Libraries

In [ ]:
## Create a new directory

new_directory = "package"
os.mkdir(new_directory)
print(f"Directory '{new_directory}' created.")

Directory 'package' created.

In [ ]:
## Listing Files and Directories
items = os.listdir('.')
print(items)

['1.0-basic.ipynb', '1.1-Variables.ipynb', '1.2-Datatypes.ipynb', '1.3-operators.ipynb', '3.1-Lists.ipynb', '3.2-Tuples.ipynb', '3.3-Sets.ipynb', '3.4-Dictionaries.ipynb', '4.1-functions.ipynb', '4.2-examplesfunctions.ipynb', '4.3-Lambda.ipynb', '4.4-Mapsfunction.ipynb', '4.5-filterfunction.ipynb', '5.1-import.ipynb', '5.2-Standardlibrary.ipynb', '6.1-fileoperation.ipynb', '6.2-filepath.ipynb', 'assignment_solution', 'assignment_solutions', 'assignment_solutions.zip', 'Conditionalstatements.ipynb', 'destination.txt', 'example.txt', 'functionsassignmentsoln.ipynb', 'list_assignment_solution', 'list_assignment_solution.zip', 'Loops.ipynb', 'package', 'Python for Data Analytics.ipynb', 'requirements.txt', 'set_assignments_solution.zip', 'tuple_assignment_solution', 'tuple_assignment_solution.zip', 'venv']

In [ ]:
## Joining Paths

dir_name = "folder"
file_name = "file.txt"
full_path = os.path.join(dir_name, file_name)
print(full_path)

folder\file.txt

In [ ]:
dir_name = "folder"
file_name = "file.txt"
full_path = os.path.join(os.getcwd(), dir_name, file_name)
print(full_path)

f:\Master Data Analysis\3 - Complete Python with Important Libraries\folder\file.txt

In [ ]:
path = 'example.txt'
if os.path.exists(path):
    print(f"The path '{path}' exists")
else:
    print(f"The path '{path}' does not exists")

The path 'example.txt' exists

In [ ]:
## Checking if a Path is a File or Directory
import os

path = 'example.txt'
if os.path.isfile(path):
    print(f"The path '{path}' is a file.")
elif os.path.isdir(path):
    print(f"The path '{path}' is a directory.")
else:
    print(f"The path '{path}' is neither a file nor a directory.")

The path 'example.txt' is a file.

In [ ]:
## Getting the absolute path
relative_path = 'example.txt'
absolute_path = os.path.abspath(relative_path)
print(absolute_path)

f:\Master Data Analysis\3 - Complete Python with Important Libraries\example.txt

## Exception Handling

In [ ]:
""""
Exceptions are events that disrupt the normal flow of a program.
They occur when an error is encountered during program execution.
Common exceptions include:

- ZeroDivisionError: Dividing by zero.
- FileNotFoundError: File not found.
- ValueError: Invalid value.
- TypeError: Invalid type.
"""

In [ ]:
## Exception try, except block

try:
    a = b
except:
    print("The variable has not been assigned")

The variable has not been assigned

In [ ]:
a = b

NameError: name 'b' is not defined

In [ ]:
try:
    a = b
except NameError as ex:
    print(ex)

name 'b' is not defined

In [ ]:
try:
    result = 1 / 0
except ZeroDivisionError as ex:
    print(ex)
    print("Please enter the denominator greater than 0")

division by zero
Please enter the denominator greater than 0

In [ ]:
try:
    result = 1 / 2
    a = b
except ZeroDivisionError as ex:
    print(ex)
    print("Please enter the denominator greater than 0")
except Exception as ex1:
    print(ex1)
    print('Main exception got caught here')

name 'b' is not defined
Main exception got caught here

In [ ]:
## try, except, else block

try:
    num = int(input("Enter a number:"))
    result = 10 / num
except ValueError:
    print("That's not a valid number!")
except ZeroDivisionError:
    print("You can't divide by zero!")
except Exception as ex:
    print(ex)
else:
    print(f"The result is {result}")

That's not a valid number!

In [ ]:
## try, except, else and finally
try:
    num = int(input("Enter a number: "))
    result = 10 / num
except ValueError:
    print("That's not a valid number!")
except ZeroDivisionError:
    print("You can't divide by zero!")
except Exception as ex:
    print(ex)
else:
    print(f"The result is {result}")
finally:
    print("Execution complete.")

The result is 3.3333333333333335
Execution complete.

In [ ]:
## File handling and Exception handling

try:
    file = open('example1.txt', 'r')
    content = file.read()
    a = b
    print(content)

except FileNotFoundError:
    print("The file does not exists")
except Exception as ex:
    print(ex)

finally:
    if 'file' in locals() or not file.closed():
        file.close()
        print('file close')

The file does not exists
file close